.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  color: white;
  padding: 5px 40px;
  text-align: left;
}

.App-joke-container {
  border-radius: 7px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 100px;
  width: 33%;
  margin: 0 auto;
}

.App-button {
  background-color: #222;
  border-radius: 7px;
  color: white;
  font-size: large;
  padding: 20px 40px;
}
